<div>
  <h1>Login</h1>
  <h3>Trạng thái đăng nhập: {{ isLogin ? 'Đã đăng nhập' : 'Chưa đăng nhập'}}</h3>
  <form [formGroup]="loginForm" *ngIf="!isLogin">
    <label for="username">UserName</label>
    <input type="text" id="username" formControlName="username">
    <label for="password">Password</label>
    <input type="text" id="password" formControlName="password">
  </form>
  <button (click)="login()">{{ isLogin ? 'Logout': 'Login'}}</button>
  <div>
    <h1>Danh sách</h1>
    <table>
      <tr>
        <th *ngFor="let i of colsData">{{ i }}</th>
      </tr>
      <tbody cdkDropList (cdkDropListDropped)="onDrop($event)">
        <tr *ngFor="let data of dataLogin, index as index" cdkDrag cdkDragLockAxis="y">
          <td class="col-sx">
            <ng-container [ngTemplateOutlet]="xxx"></ng-container>
            {{index + 1}}
          </td>
          <td class="col-md">{{data.name}}</td>
          <td class="col-md">{{data.dateOfBirth | date: 'shortDate'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #xxx>
  <svg class="bi bi-list handle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
    xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd"
      d="M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z"
      clip-rule="evenodd" />
  </svg>
</ng-template>
